<div class="container mx-auto">
  <div class="row w-50 mx-auto justify-content-md-center">
    <div class="card">
      <div class="card-header">
        <h5>Food Items in Pantry</h5>
      </div>
      <div class="cad-body"> 
        <table class="table table-light table-striped table-hover">
          <thead>
            <tr>
                <th>Food</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td>Bread</td>
            <td>{{lists.bread}}</td>
          </tr>
          <tr>
            <td>cake</td>
            <td>{{lists.cake}}</td>
          </tr>
          <tr>
            <td>Cheese</td>
            <td>{{lists.cheese}}</td>
          </tr>
          <tr>
            <td>vinegar</td>
            <td>{{lists.vinegar}}</td>
          </tr>
        </tbody>
        </table>
      </div>
  </div>
  </div>
</div>
