<div class="container justify-content-md-center" style = "margin-top: 50px;">
  <div class="row w-50 mx-auto justify-content-md-center">
    <form>
      <div class="row">
        <div class="col-md-6">
          <input type="password" class="form-control" placeholder="Enter New Password" aria-label="Enter New Password" 
          [(ngModel)]  = "password_new" name="password_new_reentered" required>
        </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <input type="password" class="form-control" placeholder="Re Enter New Password" aria-label="Re Enter New Password" 
              [(ngModel)] = "password_new_reentered" name="password_new_reentered"
              required>
          </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <button class="w-100 btn btn-lg btn-primary form-control" type="submit" (click)="updatePassword()">Save</button>
        </div>  
      </div>
  </form> 
  </div>
</div>